body{
  margin: 0;
  padding: 0;
  height:100vh ;
  background-image: url(images/currency.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 420px;
  min-height: 200px;
  margin: 60px auto;
  padding: 35px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 
      0 10px 25px rgba(0, 0, 0, 0.1),
      0 4px 12px rgba(0, 0, 0, 0.05);

  text-align: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  justify-content: center;
}